<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>

      </ion-nav-buttons>
       <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-network" style="color:red;font-weight:bold" ng-show="offline">
          No Conectado
        </button>
         <button class="button button-icon button-clear ion-network" ng-show="!offline">
          Conectado
        </button>
       
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">NanoScada Mobile</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="login()">
          Datos de acceso
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          Valores
        </ion-item>
        <ion-item menu-close href="#/app/alarms">
          Alarmas
        </ion-item>
         <ion-item menu-close href="#/app/tendencias">
          Tendencias
        </ion-item>
        <ion-item menu-close href="#/app/mimics">
          Mímicos
        </ion-item>
        <ion-item menu-close ng-click="salir()">
          Salir
        </ion-item>
        <img src="img/trsi.gif" class="img-responsive" />
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
